[service.devsm]
pwd = "tests/workspace"
cmd = ["cargo", "run", "--", "server"]
env.DEVSM_SOCKET = "/tmp/.devsm.test.socket"
env.DEVSM_LOG_STDOUT = "1"
ready.when.output_contains = "RPC Socket bound"
ready.timeout = 5.0
cache.never = true

[action.devsm-in-tmux]
pwd = "tests/workspace"
sh = """
tmux send-keys -t devsm-tester:0 "env DEVSM_SOCKET=/tmp/.devsm.test.socket DEVSM_NO_AUTO_SPAWN=1 cargo run" "ENTER"
"""
require = ["devsm"]

[action.tmux-attach]
pwd = "tests/workspace"
sh = 'tmux attach -t devsm-tester:0 || tmux new-session -A -s devsm-tester'
env.DEVSM_SOCKET = "/tmp/.devsm.test.socket"
managed = false

[action.devsm-tui]
pwd = "tests/workspace"
cmd = ["cargo", "run"]
env.DEVSM_SOCKET = "/tmp/.devsm.test.socket"
managed = false

[test.taplo-validate-json-schema]
sh = """
taplo validate --schema "file://$(realpath schema/devsm.json)" ./schema/devsm.example-big.toml
"""
tag = ["schema"]

[test.devsm-validate-big-config]
cmd = [
    "cargo",
    "run",
    "--",
    "validate",
    "--skip-path-checks",
    "schema/devsm.example-big.toml",
]
tag = ["schema"]

[test.typos]
cmd = ["typos", "--color", "always"]

[test.check]
cmd = ["cargo", "check"]
tag = "lint"

[test.cargo-test]
cmd = ["cargo", "test"]
