
[function]
fn1 = { restart = "devsm-in-tmux" }

[service.devsm]
pwd = "tests/workspace"
cmd = ["cargo", "run", "--", "server"]
env.DEVSM_SOCKET = "/tmp/.devsm.test.socket"
env.DEVSM_LOG_STDOUT = "1"
ready.when.output_contains = "RPC Socket bound"
ready.timeout = 5.0
cache.never = true

[action.tmux-attach]
pwd = "tests/workspace"
sh = 'tmux attach -t devsm-tester:0 || tmux new-session -A -s devsm-tester'
env.DEVSM_SOCKET = "/tmp/.devsm.test.socket"
managed = false

[action.devsm-in-tmux]
pwd = "tests/workspace"
sh = """
COMMAND="cargo run"
if [ -f "/tmp/rust-target/debug/devsm" ]; then
    # Avoid the slight delay introduced by executing cargo once again,
    # Since devsm-in-tmux requires devsm and devsm is cache never, it will always run
    # devsm-in-tmux will run building exceeds, on my system, this is the location of the
    # target directory.
    COMMAND=/tmp/rust-target/debug/devsm
fi
tmux send-keys -t devsm-tester:0 "env DEVSM_SOCKET=/tmp/.devsm.test.socket DEVSM_NO_AUTO_SPAWN=1 $COMMAND" "ENTER" || exit 1
"""
require = ["devsm"]

[action.devsm-tui]
pwd = "tests/workspace"
cmd = ["cargo", "run"]
env.DEVSM_SOCKET = "/tmp/.devsm.test.socket"
managed = false

[test.taplo-validate-json-schema]
sh = """
taplo validate --schema "file://$(realpath schema/devsm.json)" ./schema/devsm.example-big.toml
"""
tag = ["schema"]

[test.devsm-validate-big-config]
cmd = [
    "cargo",
    "run",
    "--",
    "validate",
    "--skip-path-checks",
    "schema/devsm.example-big.toml",
]
tag = ["schema"]

[test.typos]
cmd = ["typos", "--color", "always"]

[test.check]
cmd = ["cargo", "check"]

[test.cargo-test]
cmd = ["cargo", "test"]
