#:schema ./schema/devsm.json

[action.print_key]
sh = 'cat /tmp/devsm.test.key'
require = ["gen_key"]
profiles = ["alpha", "beta"]

[action.gen_key]
sh = 'head -c10 /dev/random | base64 > /tmp/devsm.test.key'
cache.key = [{ modified = "/tmp/cat" }, { profile_changed = "print_key" }]

[action.ls]
cmd = ["ls", { if.profile = "verbose", then = "-al" }, { var = "dir" }]
profiles = ["default", "verbose"]

[service.ping]
cmd = ["ping", "1.1.1.1"]

[action.spam]
sh = '''
for i in $(seq 1 30); do
    echo $$ $i
done
'''

[action.htop]
cmd = "htop"

[group]
all = [["ls:verbose", { dir = "/usr" }], "ping", "spam"]
